
*{
  margin:0;
  padding:0;
  box-sizing:none;
}
html{
  scroll-behavior: smooth !important;
}

.hero{
  width: 100%; 
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("./background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero__text{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-40%);
  font-family: helvetica;
  align-items: center;
}

.big-text{
  color: #fff;
  width:75vw;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.contact{
  width: 8rem !important;
  margin-bottom:1.5rem;
  background-color:#03a9f4 !important;
}

.intro{
  background: #FAFAFA;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}
/* about */
.fa-plus{
  color:#FF9800 !important;
}
.about{
  display:inline-block;
  text-align:center;
  font-family: helvetica;
  height:160vh;
  background-color: #FAFAFA;
  padding:0 20%;
}
.about> img{
  width:7rem;
  height: auto;
}
.about>h3{
  color: #2F2F2F;
  margin-left: auto;
  margin-right: auto;
  margin-top:1rem;
  margin-bottom:1.5rem;
  padding-top: 1rem;
  font-size: 2.5rem;
}
.recrutement >h3{
    color: #2F2F2F;
    margin-left: auto;
    margin-right: auto;
    margin-top:1rem;
    margin-bottom:1.5rem;
    padding-top: 1rem;
    font-size: 2.5rem;
}
.about > h4{
  font-size: 2rem;
  color: #03a9f4;
}
.about > p{
  color:#2F2F2F;
  font-size: 1.3rem;

}
/* about */

/* bureau */
.bureau > h3{
  color: #2F2F2F;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  margin-top:1rem;
  margin-bottom:2rem;
  font-size: 2.5rem;
  text-align: center;
}
.row{
  justify-content: center;
}
.card{
  transition: 0.3s !important;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: initial;
  box-shadow: initial;
}
.card-body > h5{
  font-size: 1rem;
}
.card-body > h6{
  font-size: 1rem;
}
.card-body > p{
  font-size: 0.8rem;
}
/* bureau */
/* media */
.media{
  background-color:#fff;
  display: flex;
  flex-direction: column;
  height:35vh;
  z-index: 2 !important;
}
.media > h3{
  color: #2F2F2F;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  margin-top:1rem;
  margin-bottom:1rem;
  font-size: 2.5rem;
  text-align: center;
}

.blank{
  background-color:#fff;
  height:20vh;
}

.glider-contain{
  top:20%;
  width: 80%;
}
/* media */
/* activite */
.activities{
  background-color:#FAFAFA;
  display: inline;
  flex-direction: column;
  height:85vh;
  z-index: 2 !important;
}

.activities > h3{
  color: #2F2F2F;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top:1rem;
  font-size: 2.5rem;
  text-align: center;
}
.activities > h4{
  font-size: 1.5rem;
  color: #2F2F2F;
  text-align: center;
}
.activities >h4>a>button{
  margin-left: 0.5rem;
  background-color:#03a9f4 !important;
}

.glider-contain2{
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}
.glider2  img{
  margin: 25px;
}
/* act */
/* map */
.map-section{
  height: 80vh;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
.map-section > h3{
  color: #2F2F2F;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  margin-top:3.5rem;
  font-size: 2.5rem;
  text-align: center;
}

.map-section > h4{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#mapid {
  height: 40vh;
  width: 80%;
  margin:auto;
  z-index: 1;
}

/* map */
.contactinfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}


/* Footer */

.footer {
  bottom: 0;
  width: 100%;
}

footer {
  padding-top: 30px;
  background-color: #03a9f4;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #fff;
  text-decoration:none;
  border-bottom:1px dotted #fff;
}

footer .form-control {
  background-color: #fff;
  border: none;
  resize: none;
  color: #fff;
  padding: 0.7em 1em;
}


.form-container > form>input{
  width: 100%;
  height:40px;
  margin:0.5rem 0px;
}

/* Footer */

/* style l fotter lgdim */
/* .full {
  width: 100%;    
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: #03a9f4;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
color: white;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 0px;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer h4 {
color: white;
font-size: 2em;
font-weight: 600;
line-height: 38px;
padding: 40px 0 10px;
font-family: cursive;
font-weight: lighter
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 0px;
color: #FAFAFA;
padding: 0 0 8px 0;
}

.email{
border-bottom: 3px solid #fff;
}
.footer ul li a {
padding: 0 0 12px 0;
display: block;
}
.footer a {
color: white;
font-weight: lighter;
}

.footer p {
color: white;
font-weight: lighter;
font-size: 1rem;
}

.footer a:hover {
  text-decoration:none;
  font-weight: 400;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}


.footer-bottom {
padding-top: 20px;
padding-bottom: 10px;
}
.copyright {
  margin:auto;
  text-align: center;
}
.copyright a{
  color: #FAFAFA;
  text-decoration:none;
  font-weight: bold;
}
.emal{
  font-size:1rem;
}
.copyright{
  font-size:1rem;
} */
/*style l fotter lgdim   */



#recrutement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:3rem;
}


.slider{
  background: #03a9f4;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 99;
}

.intro-logo{
  width: 20rem;
  height: auto;
}

.hide{
  background-color:#FAFAFA;
  overflow: hidden;
}

.hide img{
  transform: translateY(110%);
}

@media (max-width:1200px){
  .about> h4{
    font-size:1.5rem
  }
  .about>p{
    font-size:1rem;
  }
  .about{
    height:160vh;
  }
}

@media (max-width:992px){
  .card-body > h6{
    font-size: 0.82rem;
  }
  .card-body > p{
    font-size: 0.67rem;
  }
}


@media (max-width: 768px) {
  .intro-logo{
    width: 15rem;
  }
  .big-text{
    font-size: 1.8rem;
  }
  .media > h3{
    font-size: 1.8rem;
  }
  .bureau>h3{
    font-size: 1.8rem;
  }
  .about>h3{
    font-size: 1.8rem;
  }
  .about>p{
    font-size:0.8rem;
  }
  .about{
    padding:0 5%;
  }
  .activities >h3{
    font-size: 1.8rem;
  }
  .activities >h4{
    font-size: 1.3rem;
  }
  .about{
    height:130vh;
  }
  .copyright{
    font-size:0.5rem;
  }
}
@media (max-width:500px){
  .about{
    height:150vh;
  }
  .activities{
    height:65vh;
  }
}
@media (max-width:300px){
  .emal{
    font-size: 5vw;
  }
}





/* wave */

.waves {
  position: absolute;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px;
  bottom: 0;
  left: 0;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 4.6s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6.6s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 8.6s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 13.2s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 11vh;
    min-height: 4 5px;
  }
}